{% extends 'partials/layout.html' %}

{% block content %}
 <div class="container">
        <div class="row">
           <div class="col-sm-12 center">

                <h1>List tweets</h1>

               <form action="/process" method="POST" enctype = "multipart/form-data">
                    Find a file:
                    <br><br>
                    <input type="file" name="myFile">
                    <br><br>
                    <input type="submit">
                </form>

           </div>
        </div>
 </div>


{% endblock %}